.primary-btn{
    display: inline-block;
    font-size: 10px;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #f45d96;
    padding: 14px 30px 12px;
    border-radius: 50px;
    position: relative;
    margin-top: 60px;
   //  width: 100px;
   // align-items: center;
    
 }
 .primary-btn1{
   //  display: inline-block;
    font-size: 15px;
    color:#f45d96;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color:white;
    padding: 14px 30px 12px;
    border-radius: 50px;
    // position: relative;
    // margin-top: 50px;
    
 }
 .primary-btn2{
    display: inline-block;
    font-size: 15px;
    color:#f45d96;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color:white;
    padding: 14px 30px 12px;
    border-radius: 50px;
    border:2px solid #f45d96;
    position: relative;
    margin-left: 50px;
    
 }


