#click {
  display: none;
}

#hamburger {
  display: none;
  margin-right: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 80px;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 100;
}
.header .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -45px;
}
.header .logo {
  height: 80px;
  margin-top: 40px;
  margin-left: 30px;
  width: 70px;
}
.header nav ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-top: 30px;
  justify-content: space-between;
  gap: 20px;
}
.header nav ul li {
  list-style: none;
  text-decoration: none;
  gap: 20px;
}
.header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.header nav ul li a:hover {
  color: #f45d96;
}
.header .icon ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}
.header .icon ul li {
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
}
.header .reg {
  margin-bottom: 50px;
}
.header .reg a {
  margin-bottom: 550px;
}

@media screen and (max-width: 768px) {
  .header {
    width: 768px;
  }
  .header .navbar {
    padding-top: 10px;
  }
  .header .navbar .logo {
    display: block;
  }
  .header .navbar nav ul {
    display: none;
  }
  .header .navbar .icon {
    display: none;
  }
  .header .navbar .reg a {
    display: none;
  }
  .header .navbar nav ul {
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 70%;
    background: white;
    color: black;
    width: 30%;
    text-align: left;
    text-align: center;
  }
  #hamburger {
    display: block;
  }
  #click:checked ~ .header .navbar nav ul {
    display: block;
  }
}
@media screen and (max-width: 425px) {
  .header {
    width: 425px;
  }
  .header .navbar {
    width: 425px;
    padding-top: 10px;
  }
  .header .navbar .logo {
    display: block;
  }
  .header .navbar nav ul {
    display: none;
  }
  .header .navbar .icon {
    display: none;
  }
  .header .navbar .reg a {
    display: none;
  }
  .header .navbar nav ul {
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 50%;
    background: white;
    color: black;
    width: auto;
    text-align: left;
    text-align: center;
  }
  #hamburger {
    display: block;
  }
  #click:checked ~ .header .navbar nav ul {
    display: block;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
  height: 400px;
  margin-top: 50px;
}
.footer .footer-row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer .footer-row1 .f-col1-logo {
  height: 100px;
  margin-left: 20px;
}
.footer .footer-row1 .f-col2 p {
  text-align: center;
  text-align: justify;
  margin-bottom: 35px;
}
.footer .footer-row1 .f-col3 a {
  gap: 30px;
  color: black;
  justify-content: space-between;
  margin: 10pX;
  font-size: 20PX;
}
.footer .footer-row2 {
  display: flex;
  height: 250px;
  justify-content: space-evenly;
  margin: 30px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  top: 10px;
}
.footer .footer-row2 .f-col1 {
  display: flex;
  flex-direction: column;
  width: 12.5%;
}
.footer .footer-row2 .f-col1 h4 {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
  margin-top: 15px;
}
.footer .footer-row2 .f-col1 ul li {
  list-style: none;
  text-decoration: none;
  color: black;
  line-height: 35px;
  font-size: 20px;
}
.footer .footer-row2 .f-col1 ul a {
  text-decoration: none;
  color: black;
}
.footer .footer-row2 .f-col2 {
  border-right: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  width: 12.5%;
}
.footer .footer-row2 .f-col2 h4 {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
  margin-top: 15px;
}
.footer .footer-row2 .f-col2 ul li {
  list-style: none;
  text-decoration: none;
  color: black;
  line-height: 35px;
  font-size: 20px;
}
.footer .footer-row2 .f-col2 ul a {
  text-decoration: none;
  color: black;
}
.footer .footer-row2 .f-col3 {
  display: flex;
  flex-direction: column;
  margin-right: 1px solid lightgray;
  width: 25%;
}
.footer .footer-row2 .f-col3 h4 {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
  margin-top: 15px;
}
.footer .footer-row2 .f-col3 p {
  font-size: 20px;
  margin-top: 20px;
}
.footer .footer-row2 .f-col3 form input {
  margin-top: 20px;
  font-size: 15px;
  color: #888888;
  height: 35px;
  width: 50%;
  border: none;
  border-bottom: 2px solid #111111;
}
.footer .footer-row2 .f-col3 form input button {
  font-size: 15px;
  color: #111111;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: transparent;
  overflow: visible;
  right: 0;
  top: 0;
  height: 100%;
}
.footer .footer-row2 .f-col4 {
  border-left: 1px solid lightgrey;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 25%;
  padding-left: 20px;
}
.footer .footer-row2 .f-col4 h4 {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
  margin-top: 15px;
}
.footer .footer-row2 .f-col4 ul li {
  list-style: none;
  text-decoration: none;
  color: black;
  line-height: 35px;
  font-size: 20px;
}
.footer .footer-row2 .f-col4 ul a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 1000px;
    width: 768px;
  }
  .footer .footer-row1 {
    border-bottom: 1px solid lightgray;
    margin: 0 20px;
  }
  .footer .footer-row1 .f-col2 {
    font-size: 14px;
    width: 300px;
  }
  .footer .footer-row1 .f-col3 {
    margin-top: -30px;
  }
  .footer .footer-row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 768px;
    border: none;
  }
  .footer .footer-row2 .f-col1 {
    width: 100px;
    margin-right: -40px;
  }
  .footer .footer-row2 .f-col1 h4 {
    font-size: 20px;
  }
  .footer .footer-row2 .f-col2 {
    width: 100px;
    border: none;
    margin-left: -50px;
    padding-right: -30px;
  }
  .footer .footer-row2 .f-col2 h4 {
    font-size: 20px;
  }
  .footer .footer-row2 .f-col3 {
    width: 300px;
    margin-left: -90px;
    border: none;
  }
  .footer .footer-row2 .f-col3 h4 {
    font-size: 20px;
  }
  .footer .footer-row2 .f-col3 p {
    font-size: 13px;
  }
  .footer .footer-row2 .f-col3 form input {
    width: 50%;
  }
  .footer .footer-row2 .f-col4 {
    border: none;
    max-width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    margin-left: -27px;
    margin-top: 20px;
    margin-bottom: 200px;
  }
  .footer .footer-row2 .f-col4 h4 {
    font-size: 20px;
  }
  .footer .footer-row2 .f-col4 ul {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 13px;
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .footer {
    width: 425px;
  }
  .footer .footer-row1 {
    border-bottom: 1px solid lightgray;
    margin: 0 20px;
  }
  .footer .footer-row1 .f-col2 {
    font-size: 10px;
    width: 425px;
    height: auto;
  }
  .footer .footer-row1 .f-col3 {
    margin-top: -30px;
    font-size: 10px;
    height: auto;
  }
  .footer .footer-row2 {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
    border: none;
  }
  .footer .footer-row2 .f-col1 {
    width: auto;
    height: auto;
  }
  .footer .footer-row2 .f-col1 h4 {
    font-size: 20px;
  }
  .footer .footer-row2 .f-col2 {
    width: auto;
    height: auto;
    border: none;
    margin-left: -50px;
    padding-right: -30px;
  }
  .footer .footer-row2 .f-col2 h4 {
    font-size: 20px;
  }
  .footer .footer-row2 .f-col3 {
    width: auto;
    border: none;
  }
  .footer .footer-row2 .f-col3 h4 {
    font-size: 20px;
  }
  .footer .footer-row2 .f-col3 p {
    font-size: 13px;
  }
  .footer .footer-row2 .f-col3 form input {
    width: 40%;
  }
  .footer .footer-row2 .f-col4 {
    border: none;
    max-width: auto;
    display: grid;
    grid-template-rows: 1fr;
    margin-left: -27px;
    margin-top: 20px;
    margin-bottom: 200px;
  }
  .footer .footer-row2 .f-col4 h4 {
    font-size: 20px;
  }
  .footer .footer-row2 .f-col4 ul {
    display: grid;
    grid-template-rows: 1fr;
    font-size: 13px;
    width: auto;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header .navbar {
  padding-top: 15px;
}
.header .icon {
  margin-right: 20px;
}

.about {
  height: 400px;
}
.about .container {
  background: url("images/image23.jpg") no-repeat center center/cover;
  height: 350px;
}
.about .container .container-text {
  position: relative;
  top: 100px;
}
.about .container .container-text h2 {
  text-align: center;
  letter-spacing: 1.5;
  font-size: 50px;
  margin-bottom: 10px;
}
.about .container .container-text h2 a {
  list-style: none;
  text-decoration: none;
  color: black;
}
.about .container .container-text h2 a :hover {
  color: #f45d96;
}
.about .container .container-text h3 {
  text-align: center;
  letter-spacing: 2;
  font-size: 20px;
  justify-content: center;
  display: flex;
}
.about .container .container-text h3 a :hover {
  color: #f45d96;
}

.checkout {
  display: flex;
  margin: 20px 30px;
}
.checkout .checkout-form form .row {
  display: flex;
}
.checkout .checkout-form form .row .col1 {
  flex: 0 0 50%;
  max-width: 50%;
}
.checkout .checkout-form form .row .col1 h4 {
  font-size: 26px;
  color: #111111;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  line-height: 1.2;
}
.checkout .checkout-form form .row .col2 {
  position: relative;
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
}
.checkout .checkout-form form .row .col2 h6 {
  color: #444444;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
}
.checkout .checkout-form form .row .col2 a {
  color: #f45d96;
  text-decoration: none;
  background-color: transparent;
}
.checkout .checkout-form .input-top {
  margin-bottom: 38px;
}
.checkout .checkout-form .input-top input {
  height: 45px;
  width: 100%;
  padding-left: 20px;
  font-size: 16px;
  color: #888888;
  border: 1px solid #e1e1e1;
  margin-bottom: 15px;
}
.checkout .checkout-form .input-top label {
  position: relative;
  font-size: 16px;
  color: #444444;
  cursor: pointer;
  padding-left: 30px;
  margin-bottom: 0;
  display: inline-block;
}
.checkout .checkout-form .input-top label input {
  height: 46px;
  width: 100%;
  padding-left: 20px;
  font-size: 16px;
  color: #888888;
  border: 1px solid #e1e1e1;
  margin-bottom: 15px;
  position: absolute;
  visibility: hidden;
  overflow: visible;
}
.checkout .checkout-form .input-top label .checkmark {
  position: absolute;
  left: 0;
  top: 6px;
  height: 12px;
  width: 12px;
  border: 1px solid #444444;
  border-radius: 2px;
  content: "";
}
.checkout .checkout-form .checkout-address h4 {
  font-size: 26px;
  color: #111111;
  margin-bottom: 24px;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  line-height: 1.2;
}
.checkout .checkout-form .checkout-address .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.checkout .checkout-form .checkout-address .row .col-1 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.checkout .checkout-form .checkout-address .row .col-1 .input-item {
  margin-bottom: 25px;
}
.checkout .checkout-form .checkout-address .row .col-1 .input-item p {
  color: #444444;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 27px;
  margin: 0 0 15px 0;
}
.checkout .checkout-form .checkout-address .row .col-1 .input-item p span {
  color: #f45d96;
}
.checkout .checkout-form .checkout-address .row .col-1 .input-item input {
  height: 46px;
  width: 100%;
  padding-left: 20px;
  font-size: 16px;
  color: #888888;
  border: 1px solid #e1e1e1;
}
.checkout .checkout-form .checkout-address .row .col-3 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 25px;
}
.checkout .checkout-form .checkout-address .row .col-3 .input-item {
  margin-bottom: 25px;
}
.checkout .checkout-form .checkout-address .row .col-3 .input-item p {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  color: #444444;
  font-weight: 400;
  line-height: 27px;
  margin: 0 0 15px 0;
  margin-bottom: 10px;
}
.checkout .checkout-form .checkout-address .row .col-3 .input-item p span {
  color: #f45d96;
}
.checkout .checkout-form .checkout-address .row .col-3 .input-item input {
  height: 46px;
  width: 100%;
  padding-left: 20px;
  font-size: 16px;
  color: #888888;
  border: 1px solid #e1e1e1;
}
.checkout .checkout-form .checkout-address .row .col-3 label {
  position: relative;
  font-size: 16px;
  color: #444444;
  cursor: pointer;
  padding-left: 30px;
  display: block;
  margin-bottom: 5px !important;
}
.checkout .checkout-form .checkout-address .row .col-3 label input {
  position: absolute;
  visibility: hidden;
}
.checkout .checkout-form .checkout-address .row .col-3 label span {
  position: absolute;
  left: 0;
  top: 6px;
  height: 12px;
  width: 12px;
  border: 1px solid #444444;
  border-radius: 2px;
  content: "";
}
.checkout .checkout-form .checkout-address .row .input-item-2 {
  margin-bottom: 25px;
}
.checkout .checkout-form .checkout-address .row .input-item-2 p {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  color: #444444;
  font-weight: 400;
  line-height: 27px;
  margin: 0 0 15px 0;
  margin-bottom: 10px;
}
.checkout .checkout-form .checkout-address .row .input-item-2 p span {
  color: #f45d96;
}
.checkout .checkout-form .checkout-address .row .input-item-2 input {
  height: 46px;
  width: 100%;
  padding-left: 20px;
  font-size: 16px;
  color: #888888;
  border: 1px solid #e1e1e1;
  margin-bottom: 20px;
}
.checkout .order {
  position: relative;
  height: 500px;
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
}
.checkout .order .orderpage {
  background: #f7f5fa;
  padding: 30px;
}
.checkout .order .orderpage .checkout-proceed-title {
  position: relative;
  z-index: 1;
}
.checkout .order .orderpage .checkout-proceed-title h4 {
  color: #111111;
  margin-bottom: 38px;
  display: inline-block;
  background: #f7f5fa;
  padding: 0 15px 0 0;
  position: relative;
  font-size: 24px;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
}
.checkout .order .orderpage .checkout-proceed-coupon {
  margin-bottom: 50px;
}
.checkout .order .orderpage .checkout-proceed-coupon p {
  font-size: 14px;
  margin-bottom: 12px;
  font-family: "Quicksand", sans-serif;
  color: #444444;
  font-weight: 400;
  line-height: 27px;
  margin: 0 0 15px 0;
}
.checkout .order .orderpage .checkout-proceed-coupon .coupon-input {
  position: relative;
}
.checkout .order .orderpage .checkout-proceed-coupon .coupon-input input {
  height: 46px;
  width: 100%;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #888888;
  padding-left: 20px;
}
.checkout .order .orderpage .checkout-proceed-coupon .coupon-input button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #111111;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 30px;
}
.checkout .order .orderpage .checkout-proceed-product {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 22px;
  margin-bottom: 22px;
}
.checkout .order .orderpage .checkout-proceed-product h5 {
  color: #111111;
  font-size: 30px;
  letter-spacing: 2px;
  margin-bottom: 18px;
}
.checkout .order .orderpage .checkout-proceed-product ul li {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  color: #111111;
  overflow: hidden;
  line-height: 36px;
}
.checkout .order .orderpage .checkout-proceed-product ul li span {
  font-weight: 700;
  float: right;
}
.checkout .order .orderpage .checkout-proceed-total {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
.checkout .order .orderpage .checkout-proceed-total ul li {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  color: #111111;
  line-height: 36px;
  overflow: hidden;
  font-weight: 500;
}
.checkout .order .orderpage .checkout-proceed-total span {
  font-weight: 700;
  color: #111111;
  float: right;
}
.checkout .order .orderpage .checkout-proceed-widget {
  margin-bottom: 40px;
}
.checkout .order .orderpage .checkout-proceed-widget label {
  position: relative;
  font-size: 16px;
  color: #444444;
  cursor: pointer;
  padding-left: 30px;
  display: block;
  margin-bottom: 5px !important;
}
.checkout .order .orderpage .checkout-proceed-widget label input {
  position: absolute;
  visibility: hidden;
}
.checkout .order .orderpage .checkout-proceed-widget label span {
  position: absolute;
  left: 0;
  top: 6px;
  height: 12px;
  width: 12px;
  border: 1px solid #444444;
  border-radius: 2px;
  content: "";
}
.checkout .order .orderpage .btn {
  order: none;
  display: inline-block;
  padding: 14px 30px;
  background: #111111;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-left: 50px;
}/*# sourceMappingURL=checkout.css.map */