#click {
  display: none;
}

#hamburger {
  display: none;
  margin-right: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 80px;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 100;
}
.header .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -45px;
}
.header .logo {
  height: 80px;
  margin-top: 40px;
  margin-left: 30px;
  width: 70px;
}
.header nav ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-top: 30px;
  justify-content: space-between;
  gap: 20px;
}
.header nav ul li {
  list-style: none;
  text-decoration: none;
  gap: 20px;
}
.header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.header nav ul li a:hover {
  color: #f45d96;
}
.header .icon ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}
.header .icon ul li {
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
}
.header .reg {
  margin-bottom: 50px;
}
.header .reg a {
  margin-bottom: 550px;
}

@media screen and (max-width: 768px) {
  .header {
    width: 768px;
  }
  .header .navbar {
    padding-top: 10px;
  }
  .header .navbar .logo {
    display: block;
  }
  .header .navbar nav ul {
    display: none;
  }
  .header .navbar .icon {
    display: none;
  }
  .header .navbar .reg a {
    display: none;
  }
  .header .navbar nav ul {
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 70%;
    background: white;
    color: black;
    width: 30%;
    text-align: left;
    text-align: center;
  }
  #hamburger {
    display: block;
  }
  #click:checked ~ .header .navbar nav ul {
    display: block;
  }
}
@media screen and (max-width: 425px) {
  .header {
    width: 425px;
  }
  .header .navbar {
    width: 425px;
    padding-top: 10px;
  }
  .header .navbar .logo {
    display: block;
  }
  .header .navbar nav ul {
    display: none;
  }
  .header .navbar .icon {
    display: none;
  }
  .header .navbar .reg a {
    display: none;
  }
  .header .navbar nav ul {
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 50%;
    background: white;
    color: black;
    width: auto;
    text-align: left;
    text-align: center;
  }
  #hamburger {
    display: block;
  }
  #click:checked ~ .header .navbar nav ul {
    display: block;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
  height: 400px;
  margin-top: 50px;
}
.footer .footer-row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer .footer-row1 .f-col1-logo {
  height: 100px;
  margin-left: 20px;
}
.footer .footer-row1 .f-col2 p {
  text-align: center;
  text-align: justify;
  margin-bottom: 35px;
}
.footer .footer-row1 .f-col3 a {
  gap: 30px;
  color: black;
  justify-content: space-between;
  margin: 10pX;
  font-size: 20PX;
}
.footer .footer-row2 {
  display: flex;
  height: 250px;
  justify-content: space-evenly;
  margin: 30px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  top: 10px;
}
.footer .footer-row2 .f-col1 {
  display: flex;
  flex-direction: column;
  width: 12.5%;
}
.footer .footer-row2 .f-col1 h4 {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
  margin-top: 15px;
}
.footer .footer-row2 .f-col1 ul li {
  list-style: none;
  text-decoration: none;
  color: black;
  line-height: 35px;
  font-size: 20px;
}
.footer .footer-row2 .f-col1 ul a {
  text-decoration: none;
  color: black;
}
.footer .footer-row2 .f-col2 {
  border-right: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  width: 12.5%;
}
.footer .footer-row2 .f-col2 h4 {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
  margin-top: 15px;
}
.footer .footer-row2 .f-col2 ul li {
  list-style: none;
  text-decoration: none;
  color: black;
  line-height: 35px;
  font-size: 20px;
}
.footer .footer-row2 .f-col2 ul a {
  text-decoration: none;
  color: black;
}
.footer .footer-row2 .f-col3 {
  display: flex;
  flex-direction: column;
  margin-right: 1px solid lightgray;
  width: 25%;
}
.footer .footer-row2 .f-col3 h4 {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
  margin-top: 15px;
}
.footer .footer-row2 .f-col3 p {
  font-size: 20px;
  margin-top: 20px;
}
.footer .footer-row2 .f-col3 form input {
  margin-top: 20px;
  font-size: 15px;
  color: #888888;
  height: 35px;
  width: 50%;
  border: none;
  border-bottom: 2px solid #111111;
}
.footer .footer-row2 .f-col3 form input button {
  font-size: 15px;
  color: #111111;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: transparent;
  overflow: visible;
  right: 0;
  top: 0;
  height: 100%;
}
.footer .footer-row2 .f-col4 {
  border-left: 1px solid lightgrey;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 25%;
  padding-left: 20px;
}
.footer .footer-row2 .f-col4 h4 {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
  margin-top: 15px;
}
.footer .footer-row2 .f-col4 ul li {
  list-style: none;
  text-decoration: none;
  color: black;
  line-height: 35px;
  font-size: 20px;
}
.footer .footer-row2 .f-col4 ul a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 1000px;
    width: 768px;
  }
  .footer .footer-row1 {
    border-bottom: 1px solid lightgray;
    margin: 0 20px;
  }
  .footer .footer-row1 .f-col2 {
    font-size: 14px;
    width: 300px;
  }
  .footer .footer-row1 .f-col3 {
    margin-top: -30px;
  }
  .footer .footer-row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 768px;
    border: none;
  }
  .footer .footer-row2 .f-col1 {
    width: 100px;
    margin-right: -40px;
  }
  .footer .footer-row2 .f-col1 h4 {
    font-size: 20px;
  }
  .footer .footer-row2 .f-col2 {
    width: 100px;
    border: none;
    margin-left: -50px;
    padding-right: -30px;
  }
  .footer .footer-row2 .f-col2 h4 {
    font-size: 20px;
  }
  .footer .footer-row2 .f-col3 {
    width: 300px;
    margin-left: -90px;
    border: none;
  }
  .footer .footer-row2 .f-col3 h4 {
    font-size: 20px;
  }
  .footer .footer-row2 .f-col3 p {
    font-size: 13px;
  }
  .footer .footer-row2 .f-col3 form input {
    width: 50%;
  }
  .footer .footer-row2 .f-col4 {
    border: none;
    max-width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    margin-left: -27px;
    margin-top: 20px;
    margin-bottom: 200px;
  }
  .footer .footer-row2 .f-col4 h4 {
    font-size: 20px;
  }
  .footer .footer-row2 .f-col4 ul {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 13px;
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .footer {
    width: 425px;
  }
  .footer .footer-row1 {
    border-bottom: 1px solid lightgray;
    margin: 0 20px;
  }
  .footer .footer-row1 .f-col2 {
    font-size: 10px;
    width: 425px;
    height: auto;
  }
  .footer .footer-row1 .f-col3 {
    margin-top: -30px;
    font-size: 10px;
    height: auto;
  }
  .footer .footer-row2 {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
    border: none;
  }
  .footer .footer-row2 .f-col1 {
    width: auto;
    height: auto;
  }
  .footer .footer-row2 .f-col1 h4 {
    font-size: 20px;
  }
  .footer .footer-row2 .f-col2 {
    width: auto;
    height: auto;
    border: none;
    margin-left: -50px;
    padding-right: -30px;
  }
  .footer .footer-row2 .f-col2 h4 {
    font-size: 20px;
  }
  .footer .footer-row2 .f-col3 {
    width: auto;
    border: none;
  }
  .footer .footer-row2 .f-col3 h4 {
    font-size: 20px;
  }
  .footer .footer-row2 .f-col3 p {
    font-size: 13px;
  }
  .footer .footer-row2 .f-col3 form input {
    width: 40%;
  }
  .footer .footer-row2 .f-col4 {
    border: none;
    max-width: auto;
    display: grid;
    grid-template-rows: 1fr;
    margin-left: -27px;
    margin-top: 20px;
    margin-bottom: 200px;
  }
  .footer .footer-row2 .f-col4 h4 {
    font-size: 20px;
  }
  .footer .footer-row2 .f-col4 ul {
    display: grid;
    grid-template-rows: 1fr;
    font-size: 13px;
    width: auto;
  }
}
.primary-btn {
  display: inline-block;
  font-size: 10px;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #f45d96;
  padding: 14px 30px 12px;
  border-radius: 50px;
  position: relative;
  margin-top: 60px;
}

.primary-btn1 {
  font-size: 15px;
  color: #f45d96;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: white;
  padding: 14px 30px 12px;
  border-radius: 50px;
}

.primary-btn2 {
  display: inline-block;
  font-size: 15px;
  color: #f45d96;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: white;
  padding: 14px 30px 12px;
  border-radius: 50px;
  border: 2px solid #f45d96;
  position: relative;
  margin-left: 50px;
}

.social-media {
  height: 200px;
}
.social-media .container {
  display: flex;
  gap: 10px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .social-media {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .social-media {
    display: grid;
    grid-template-columns: 1fr;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

p {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-align: center;
}

span {
  text-align: center;
  font-size: 18px;
  color: black;
}

.hero {
  height: 500px;
}
.hero .hero-slider {
  background: url("images/HD-wallpaper-pink-flower-lovely1.jpg") no-repeat center center/cover;
  height: 500px;
  width: 100%;
}
.hero .hero-slider .container {
  height: 200px;
  width: 300px;
  margin-left: 50px;
  position: relative;
  top: 150px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-slider .container span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 17px;
  color: black;
  font-weight: 700;
  display: block;
  position: relative;
  top: 100px;
  margin-bottom: 12px;
}
.hero .hero-slider .container h2 {
  font-size: 43px;
  color: black;
  line-height: 60px;
  margin-bottom: 30px;
  position: relative;
  top: 100px;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}
.hero .hero-slider .container a {
  list-style: none;
  text-decoration: none;
  margin-top: 90px;
  margin-right: 70px;
}

.benefits {
  display: flex;
  height: 250px;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  gap: 10px;
}
.benefits .benefits-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  padding: 10px;
}
.benefits .benefits-container .benefit-image {
  vertical-align: middle;
  margin-right: 32px;
}
.benefits .benefits-container .benefit-text {
  margin-left: 10px;
}
.benefits .benefits-container .benefit-text h4 {
  font-size: 35px;
  color: black;
  font-weight: 400;
  margin-bottom: 20px;
}
.benefits .benefits-container .benefit-text p {
  margin-top: 10px;
  font-size: 20px;
}

.category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 20PX;
  margin-left: 20PX;
  margin-right: 20PX;
}
.category .category-container1 {
  height: 500px;
  background: url("images/pexels-secret-garden-333350-2879813.jpg") no-repeat center center/cover;
}
.category .category-container1 .container1-text {
  background-color: white;
  position: relative;
  top: 400px;
  height: 80px;
  width: 70%;
  margin-left: 15%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.category .category-container1 .container1-text h4 {
  justify-content: center;
  font-size: 25px;
  color: black;
}
.category .category-container1 .container1-text span {
  text-align: center;
  justify-content: center;
  justify-content: center;
  font-size: 15px;
}
.category .category-container2 {
  height: 500px;
  background: url("images/succulent-plants-3780498_1280.jpg") no-repeat center center/cover;
}
.category .category-container2 .container1-text {
  background-color: white;
  position: relative;
  top: 400px;
  height: 80px;
  width: 70%;
  margin-left: 15%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.category .category-container2 .container1-text h4 {
  justify-content: center;
  font-size: 25px;
  color: black;
}
.category .category-container2 .container1-text span {
  text-align: center;
  justify-content: center;
  justify-content: center;
  font-size: 15px;
}
.category .category-container3 {
  height: 500px;
  background: url("images/images.jfif") no-repeat center center/cover;
}
.category .category-container3 .container1-text {
  background-color: white;
  position: relative;
  top: 400px;
  height: 80px;
  width: 70%;
  margin-left: 15%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.category .category-container3 .container1-text h4 {
  justify-content: center;
  font-size: 25px;
  color: black;
}
.category .category-container3 .container1-text span {
  text-align: center;
  justify-content: center;
  justify-content: center;
  font-size: 15px;
}
.category .category-container4 {
  height: 500px;
  background: url("images/pexels-alexander-schimpf-726343-1824189.jpg") no-repeat center center/cover;
}
.category .category-container4 .container1-text {
  background-color: white;
  position: relative;
  top: 400px;
  height: 80px;
  width: 70%;
  margin-left: 15%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.category .category-container4 .container1-text h4 {
  justify-content: center;
  font-size: 25px;
  color: black;
}
.category .category-container4 .container1-text span {
  text-align: center;
  justify-content: center;
  justify-content: center;
  font-size: 15px;
}

.about-page .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-page .container .container-row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 200px;
  gap: 10px;
}
.about-page .container .container-row1 .container-col1 {
  margin-left: 20px;
  line-height: 1.2;
  margin-left: 100px;
}
.about-page .container .container-row1 .container-col1 span {
  color: #f45d96;
  margin-bottom: 20px;
  font-size: 20px;
}
.about-page .container .container-row1 .container-col1 h2 {
  font-size: 30px;
  margin-top: 20px;
  font-weight: 600;
  letter-spacing: 3px;
}
.about-page .container .container-row1 .container-col2 {
  margin: 0 30px;
  line-height: 1.5;
}
.about-page .container .container-row1 .container-col2 p {
  font-size: 18px;
  margin-left: 30px;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  color: #444444;
}
.about-page .container .container-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  gap: 30px;
}
.about-page .container .container-row2 .container-col3 {
  margin-left: 20px;
}
.about-page .container .container-row2 .container-col4 {
  line-height: 1.7;
  letter-spacing: 1.5;
}
.about-page .container .container-row2 .container-col4 span {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #f45d96;
}
.about-page .container .container-row2 .container-col4 h2 {
  font-size: 30px;
  color: black;
  margin: 10px 0;
}
.about-page .container .container-row2 .container-col4 p {
  font-family: "Quicksand", sans-serif;
  color: #444444;
  font-weight: 400;
  letter-spacing: 1.5;
  line-height: 1.5;
  font-size: 20px;
  margin: 0 0 10px 0;
}
.about-page .container .container-row2 .container-col4 a {
  list-style: none;
  text-decoration: none;
}

.arrival .container .row {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.arrival .container .row span {
  color: #f45d96;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 9px;
  margin-top: 40px;
}
.arrival .container .row h2 {
  font-size: 35px;
  color: black;
  line-height: 1.4;
  margin-bottom: 25px;
}
.arrival .container .filter-control ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.arrival .container .filter-control ul li {
  list-style: none;
  text-decoration: none;
  margin-bottom: 30px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.arrival .container .row-product-filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 0 10px;
  margin-bottom: 10px;
}
.arrival .container .row-product-filter .col-product-filter1 .product-label {
  height: 300px;
  background: url("images/annie-spratt-fbAnIjhrOL4-unsplash.jpg") no-repeat center center/cover;
}
.arrival .container .row-product-filter .col-product-filter1 .product-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.arrival .container .row-product-filter .col-product-filter1 .product-text h5 a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-align: center;
}
.arrival .container .row-product-filter .col-product-filter1 .product-text span {
  text-align: center;
  font-size: 18px;
  color: black;
}
.arrival .container .row-product-filter .col-product-filter2 .product-img {
  height: 300px;
  background: url("images/photo-1576857990591-aad2585f34d1.avif") no-repeat center center/cover;
}
.arrival .container .row-product-filter .col-product-filter2 .product-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.arrival .container .row-product-filter .col-product-filter2 .product-text h5 a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-align: center;
}
.arrival .container .row-product-filter .col-product-filter2 .product-text span {
  text-align: center;
  font-size: 18px;
  color: black;
}
.arrival .container .row-product-filter .col-product-filter3 .product-img {
  height: 300px;
  background: url("images/photo-1492662255087-d9e0dee2a572.avif") no-repeat center center/cover;
}
.arrival .container .row-product-filter .col-product-filter3 .product-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.arrival .container .row-product-filter .col-product-filter3 .product-text h5 {
  text-align: center;
}
.arrival .container .row-product-filter .col-product-filter3 .product-text h5 a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-align: center;
}
.arrival .container .row-product-filter .col-product-filter3 .product-text span {
  text-align: center;
  font-size: 18px;
  color: black;
}
.arrival .container .row-product-filter .col-product-filter4 {
  align-items: center;
  font-size: 18px;
  text-align: center;
}
.arrival .container .row-product-filter .col-product-filter4 .product-img {
  height: 300px;
  background: url("images/istockphoto-473082752-170667a.webp") no-repeat center center/cover;
}
.arrival .container .row-product-filter .col-product-filter4 .product-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.arrival .container .row-product-filter .col-product-filter4 .product-text h5 a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-align: center;
}
.arrival .container .row-product-filter .col-product-filter4 .product-text span {
  text-align: center;
  color: black;
}
.arrival .container .row-product-filter .col-product-filter5 {
  align-items: center;
  font-size: 18px;
  text-align: center;
}
.arrival .container .row-product-filter .col-product-filter5 .product-img {
  height: 300px;
  background: url("images/pexels-pixabay-459335.jpg") no-repeat center center/cover;
}
.arrival .container .row-product-filter .col-product-filter5 .product-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.arrival .container .row-product-filter .col-product-filter5 .product-text h5 a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-align: center;
}
.arrival .container .row-product-filter .col-product-filter5 .product-text span {
  text-align: center;
  color: black;
}
.arrival .container .row2-product-filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 0 10px;
}
.arrival .container .row2-product-filter .col-product-filter1 .product-label {
  height: 300px;
  background: url("images/image2.webp") no-repeat center center/cover;
}
.arrival .container .row2-product-filter .col-product-filter1 .product-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.arrival .container .row2-product-filter .col-product-filter1 .product-text h5 a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-align: center;
}
.arrival .container .row2-product-filter .col-product-filter1 .product-text span {
  text-align: center;
  font-size: 18px;
  color: black;
}
.arrival .container .row2-product-filter .col-product-filter2 .product-img {
  height: 300px;
  background: url("images/image3.webp") no-repeat center center/cover;
}
.arrival .container .row2-product-filter .col-product-filter2 .product-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.arrival .container .row2-product-filter .col-product-filter2 .product-text h5 a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-align: center;
}
.arrival .container .row2-product-filter .col-product-filter2 .product-text span {
  text-align: center;
  font-size: 18px;
  color: black;
}
.arrival .container .row2-product-filter .col-product-filter3 .product-img {
  height: 300px;
  background: url("images/image4.webp") no-repeat center center/cover;
}
.arrival .container .row2-product-filter .col-product-filter3 .product-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.arrival .container .row2-product-filter .col-product-filter3 .product-text h5 {
  text-align: center;
}
.arrival .container .row2-product-filter .col-product-filter3 .product-text h5 a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-align: center;
}
.arrival .container .row2-product-filter .col-product-filter3 .product-text span {
  text-align: center;
  font-size: 18px;
  color: black;
}
.arrival .container .row2-product-filter .col-product-filter4 {
  align-items: center;
  font-size: 18px;
  text-align: center;
}
.arrival .container .row2-product-filter .col-product-filter4 .product-img {
  height: 300px;
  background: url("images/image5.webp") no-repeat center center/cover;
}
.arrival .container .row2-product-filter .col-product-filter4 .product-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.arrival .container .row2-product-filter .col-product-filter4 .product-text h5 a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-align: center;
}
.arrival .container .row2-product-filter .col-product-filter4 .product-text span {
  text-align: center;
  color: black;
}
.arrival .container .row2-product-filter .col-product-filter5 {
  align-items: center;
  font-size: 18px;
  text-align: center;
}
.arrival .container .row2-product-filter .col-product-filter5 .product-img {
  height: 300px;
  background: url("images/image6.webp") no-repeat center center/cover;
}
.arrival .container .row2-product-filter .col-product-filter5 .product-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
.arrival .container .row2-product-filter .col-product-filter5 .product-text h5 a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-align: center;
}
.arrival .container .row2-product-filter .col-product-filter5 .product-text span {
  text-align: center;
  color: black;
}
.arrival .All-product {
  text-align: center;
  height: 100px;
  list-style: center;
  justify-content: center;
  font-size: 25px;
  margin-top: 20px;
}
.arrival .All-product a {
  list-style: none;
  text-decoration: none;
  color: black;
  text-decoration: underline;
}

.order-page {
  height: 500px;
  background: url("images/call-bg.jpg") no-repeat center center/cover;
}
.order-page .container {
  position: relative;
  top: 30px;
  width: 36%;
  margin-left: 30px;
}
.order-page .container span {
  margin-top: 30px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.order-page .container h2 {
  color: white;
  font-size: 60px;
  line-height: 1.4;
  margin-bottom: 20px;
  font-family: "hello santtiny";
}
.order-page .container a {
  list-style: none;
  text-decoration: none;
}
.order-page .container a {
  list-style: none;
  text-decoration: none;
  margin-left: 10px;
}

.latest .container {
  text-align: center;
}
.latest .container .row1 {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.latest .container .row1 .col1 {
  align-content: start;
}
.latest .container .row1 .col1 span {
  color: #f45d96;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  margin-bottom: 8px;
}
.latest .container .row1 .col1 h2 {
  font-size: 42px;
  color: black;
  line-height: 1.4;
  margin-left: 60px;
}
.latest .container .row1 .col2 a {
  list-style: none;
  text-decoration: none;
  margin-left: 10px;
  align-content: end;
  margin-right: 30px;
}
.latest .container .row2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}
.latest .container .row2 .r2-col1 {
  margin-top: 30px;
}
.latest .container .row2 .r2-col1 .label {
  text-transform: uppercase;
}
.latest .container .row2 .r2-col1 .label span {
  color: #f45d96;
  background-color: black;
  align-items: center;
  position: relative;
  width: 40px;
  height: 30px;
  top: -10px;
}
.latest .container .row2 .r2-col1 h4 {
  text-align: center;
  margin-bottom: 10px;
}
.latest .container .row2 .r2-col1 h4 a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 18px;
  align-items: center;
}
.latest .container .row2 .r2-col1 p {
  text-align: center;
  opacity: 0.9;
}
.latest .container .row2 .r2-col1 span {
  text-align: center;
  position: relative;
  top: 10px;
}

.testimonial {
  height: 400px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.testimonial .test-text {
  background-color: rgb(250, 249, 249);
  text-align: center;
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: space-between;
}
.testimonial .test-text .img-text {
  width: 60%;
  font-size: 25px;
  font-style: italic;
  letter-spacing: 1.2;
  line-height: 1.5;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 15px;
}
.testimonial .test-text .img-text h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.testimonial .test-text .img-text span {
  margin-top: 10px;
}

.f-copyright {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}
.f-copyright i {
  color: #f45d96;
}
.f-copyright a {
  color: #f45d96;
}

@media screen and (max-width: 768px) {
  .hero .hero-slider {
    width: 768px;
  }
  .hero .hero-slider .container {
    display: block;
    top: 0px;
  }
  .benefits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 250px;
    width: auto;
    top: 0;
  }
  .benefit-image {
    vertical-align: auto;
  }
  .benefit-text {
    vertical-align: auto;
  }
  .benefits .benefits-container .benefit-text h4 {
    font-size: 15px;
  }
  .benefits .benefits-container .benefit-text p {
    font-size: 10px;
  }
  .category {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    width: auto;
  }
  .about-page {
    width: auto;
  }
  .about-page .container {
    display: grid;
    grid-template-columns: 1fr;
    height: 200px;
    margin-top: 600px;
  }
  .about-page .container .container-row1 {
    display: grid;
    grid-template-rows: 1fr;
    width: auto;
  }
  .about-page .container .container-row1 .container-col2 p {
    margin-top: 10px;
    margin-left: 60px;
  }
  .about-page .container .container-row2 {
    display: grid;
    grid-template-rows: 1fr;
    width: auto;
  }
  .about-page .container .container-row2 .container-col3 {
    height: 400px;
    margin-top: 100px;
    margin-left: 50px;
  }
  .about-page .container .container-row2 .container-col4 {
    margin-top: 25px;
    margin-left: 60px;
    width: auto;
  }
  .about-page .container .container-row2 .container-col4 a {
    margin-top: 10px;
  }
  .arrival .container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 750px;
  }
  .arrival .container .row {
    display: grid;
    grid-template-rows: 1fr;
  }
  .arrival .container .row-product-filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .arrival .container .row2-product-filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .order-page {
    width: auto;
  }
  .order-page .container {
    width: 50%;
  }
  .order-page h2 i {
    font-size: 40px;
    line-height: 0.5;
    letter-spacing: 1.5;
  }
  .latest .container .row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .latest .container .row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .social-media .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
  }
  .f-copyright {
    margin-top: 50px;
    border-top: 1px solid lightgrey;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 425px) {
  .hero .hero-slider {
    max-width: 100%;
  }
  .hero .hero-slider .hero .hero-slider .container {
    display: block;
    top: 0px;
  }
  .hero .hero-slider .benefits {
    display: grid;
    grid-template-columns: 1fr;
    height: 250px;
    width: 100%;
    top: 0;
  }
  .hero .hero-slider .benefit-image {
    vertical-align: auto;
    margin-left: 20px;
  }
  .hero .hero-slider .benefit-text {
    vertical-align: auto;
    margin-left: -20px;
  }
  .hero .hero-slider .benefits .benefits-container .benefit-text h4 {
    font-size: 15px;
  }
  .hero .hero-slider .benefits .benefits-container .benefit-text p {
    font-size: 10px;
  }
  .hero .hero-slider .category {
    display: grid;
    grid-template-columns: 1fr;
    height: 500px;
    width: 100%;
  }
  .hero .hero-slider .about-page {
    width: 100%;
  }
  .hero .hero-slider .about-page .container {
    display: grid;
    grid-template-columns: 1fr;
    height: 200px;
    margin-top: 600px;
  }
  .hero .hero-slider .about-page .container .container-row1 {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
  }
  .hero .hero-slider .about-page .container .container-row1 .container-col2 p {
    margin-top: 10px;
    margin-left: 60px;
  }
  .hero .hero-slider .about-page .container .container-row2 {
    display: grid;
    grid-template-rows: 1fr;
    width: auto;
  }
  .hero .hero-slider .about-page .container .container-row2 .container-col3 {
    height: 400px;
    margin-top: 100px;
    margin-left: 50px;
  }
  .hero .hero-slider .about-page .container .container-row2 .container-col4 {
    margin-top: 25px;
    margin-left: 60px;
    width: 100%;
  }
  .hero .hero-slider .about-page .container .container-row2 .container-col4 a {
    margin-top: 10px;
  }
  .hero .hero-slider .arrival .container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 750px;
  }
  .hero .hero-slider .arrival .container .row {
    display: grid;
    grid-template-rows: 1fr;
  }
  .hero .hero-slider .arrival .container .row-product-filter {
    display: grid;
    grid-template-columns: 1fr;
  }
  .hero .hero-slider .arrival .container .row2-product-filter {
    display: grid;
    grid-template-columns: 1fr;
  }
  .hero .hero-slider .order-page {
    width: 100%;
  }
  .hero .hero-slider .order-page .container {
    width: 100%;
  }
  .hero .hero-slider .order-page h2 i {
    font-size: 40px;
    line-height: 0.5;
    letter-spacing: 1.5;
  }
  .hero .hero-slider .latest .container .row1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .hero .hero-slider .latest .container .row2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .hero .hero-slider .social-media .container {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
  }
  .hero .hero-slider .f-copyright {
    margin-top: 50px;
    border-top: 1px solid lightgrey;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}/*# sourceMappingURL=style.css.map */